<aside>
	<div class="panel radius">
		<h3>About</h3>
		<p>This project aims to investigate the actual situation for large scale
			networks, for then optimize the design and maintenance of such networks.
			The Networks@Scale project is fostering large-scale studies from Brazil's
			network infrastructure; allowing the study and development of complex
			optimization models, and propose new components for the network ecosystem
			of a large scale networks and its members.
		</p>
	</div>

  <a href="http://www.inf.ufrgs.br" alt="Institute of Informatics"><img class="b30" src="{{ site.urlimg }}logo_inf_ufrgs-black.png"></a>

</aside>
